/* ResetPassword.css */

/* General Styles */
.reset-password-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 20px;
}

.reset-password {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.reset-password-heading {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #079992;
}

.reset-password-form-box {
  width: 100%;
}

.reset-password-form-box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reset-password-form-box input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 0.75rem;
  box-sizing: border-box;
  transition: border 0.3s ease-in-out;
}

.reset-password-form-box input:focus {
  outline: none;
  border-color: #079992;
}

.reset-password-form-box button {
  width: 100%;
  padding: 0.75rem;
  background-color: #079992;
  color: #fff;
  border: none;
  border-radius:12px;
  font-size: 1rem;
  cursor: pointer;
}

.reset-password-form-box button:hover {
  background-color: #00928b;
}

/* Responsive Design for Web */
@media (min-width: 768px) {
  .reset-password {
    padding: 2.5rem;
  }

  .reset-password-heading {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  .reset-password-form-box input,
  .reset-password-form-box button {
    font-size: 1.1rem;
  }
}